@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Wet+Paint&family=Patrick+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  animation: up 0.7s ease-out forwards;
}
